@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&display=swap');

:root {
  --vermilion-dark: rgba(237, 47, 54, 0.798);
  --yellow-pantone: hsla(53, 100%, 50%, 1);
  --catawba: hsla(352, 30%, 29%, 1);
  --malachite: hsla(122, 66%, 55%, 1);
  --alabaster: hsla(43, 23%, 88%, 1);
  --vermilion: hsla(358, 100%, 45%, 1);
  --goldenrod: hsla(44, 100%, 44%, 1);
  --carnelian: hsla(359, 81%, 40%, 1);
  --flame: hsla(15, 83%, 53%, 1);
}

html{
  scroll-behavior: smooth;
}

#wrapper {
  height: 0;
  overflow: hidden;
  transition: height 0.66s ease-out;
}
#wrapper.loaded {
  height: 100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.Nav-1 a{
  color: var(--catawba);
  text-shadow: var(--goldenrod) 2px 2px;
  text-decoration: none;
  font-size: 4em;
  transition: color .1s ease-in-out;
}


.Nav-1 a:hover {
  color: var(--yellow-pantone);
  text-shadow: var(--catawba) 2px 2px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--malachite);
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  font-size: 4em;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content 
{
  display: flex;
  flex-direction: column;
  color: var(--yellow-pantone);
  text-shadow: var(--goldenrod) 3px 3px;
  border: 2px solid var(--goldenrod);
  border-radius: 5px;
  transition-delay:1s;
  z-index: 1;
}

li{
  list-style: none;
}

.Nav-1 {
  padding: 0.2em 0;
  display: flex;
  justify-content: space-evenly;
  height: 4;
  background-color: var(--vermilion-dark);
  border: 2px solid var(--goldenrod);
  box-shadow:0px 6px var(--goldenrod);
  font-family: "Bebas Neue", cursive;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--alabaster);
  color: var(--catawba);
  max-width: 200em;
  max-height: 200em;
  margin: 5px;
}

.Block-1{
  display: flex;
}

.Block-3{
  margin-top: 3.5em;
}

.Top-Header {
  background-color: var(--yellow-pantone);
  background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/8958.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: 1px;
  opacity: 1;
  border: 5px solid var(--goldenrodv);
  min-height: 9.3em;
  padding: 1.5em 2em;
  font-family: 'Bebas Neue', cursive;
  display: flex;
  justify-content: space-between;
}

.Top-Header h1{
     color: var(--yellow-pantone);
    text-shadow: var(--vermilion) 2px 5px;
    font-size: 5em;
}
.Main{
  border-radius: 5px;
  margin: 1em;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  min-height: 50em;
}

.Main-Container.Three {
  font-family: "Bebas Neue", cursive;
  background-color: var(--vermilion-dark);
  padding: 1em;
  border: 5px solid var(--goldenrod);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 16em;
  margin-left: auto;
}

.Main-Container.Two {
  padding: 3.5em;
  margin:0 auto;
}

.Main-Container.One {
  margin: 0 0 0 4em;
  padding: 4em 0;
  font-family: "Bebas Neue", cursive;
}

.Main-Container.One img{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  max-width: 130px;
  max-height: 208px;
  }

  .Main-Container.One h3{
    font-size: 2em;
    text-align: center;
    color: var(--yellow-pantone);
    text-shadow: black 1px 1px;
    margin-bottom: 1em;
  }

.container {
  position: relative;
  width: 120px;
}
/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 40px;
  left: -2px;
  right: 0;
  background-color: var(--flame);
  border: 3px solid var(--yellow-pantone);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  overflow: hidden;
  width: 135px;
  height: 215px;
  transform: scale(0);
  transition: .3s ease;
}

/* When you mouse over the container, the overlay text will "zoom" in display */
.container:hover .overlay {
  transform: scale(1);
}

/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text {
  color: var(--yellow-pantone);
  text-shadow: var(--vermilion) 2px 5px;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

footer {
  background-color: var(--goldenrod);
  font-family: "Bebas Neue", cursive;
  min-height: 6.2em;
  max-height: 6.2em;
  padding: 2em;
  display: flex;
  justify-content: space-around;
}

footer a{
  max-width: 1em;
  position: relative;
  padding: 0.5em;
  margin: 0 5px;
  font-size: 1.3em;
  background-color: var(--vermilion);
  text-decoration: none;
  color: var(--catawba);
  box-shadow:5px 5px ;
}

footer a:hover{
background-color: var(--malachite);
transition: .2s ease;
transform: scale(2);
}


/* CSS */
button {
  font-family: "Bebas Neue", cursive;
  font-size: 1em;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--catawba);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  button {
    padding: 0.25em 0.75em;
  }
}

@media (max-width:1400px) {

  .Main{
    grid-template-columns: repeat(1,1fr);
  }
  nav{
    display: flex;
    flex-direction: row;
  }

  .Block-1{
    align-content: space-around;
  }

  .container{
    display: flex;
    flex-direction: column;
    margin: 0 2.5em;
  }
  .Main-Container.One{
    width: auto;
  }
  .Main-Container.Two{
    max-width: 900px;
  }
  .Main-Container.Three{
    max-width: 900px;
    min-width: 900px;
    margin: 0 auto;
  }

  .Main-Container.One{
    padding: 6em 0 0 0 ;
  }
}
@media (min-width:2000px) {

  .Main{
    margin: 0 10em;
  }

 .Main-Container.Two{
  width: auto;
  max-width: 3000px;
 }
}

